.main{
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1.85rem;
    padding: 1.85rem 0.5rem 0;
}

.main h1{
    text-align: center;
    margin-bottom: 2.2rem;
}

.main .display_copy{
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}

.main .display_copy #text{
    width: 98%;
    padding: 0.32rem 0.29rem;
}

.main .display_copy button{
    padding: 2px 6px;
    background-color: rgb(17,107,180);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.main .display_copy .copy{
    font-size: 1.2rem;
    height: 22px;
    width: 20px;
    background-color: white;
    border: none;
}

.main .display_copy button:hover{
    background-color: rgb(0, 128, 0);
}

.main .passwrodLength{
    display: flex;
    justify-content: space-between;
}

.main .passwrodLength .dark{
    font-weight: 800;
}

.main .passwrodLength input{
    padding: 1px 2px;
}

.main .passwordCharacters{
    margin-top: 2rem;
   
}

.main .passwordCharacters .common{
    display: flex;
    align-items: center;
    column-gap: 0.2rem;
    margin-bottom: 0.1rem;
}

.main .generatePassword button{
    width: 100%;
    color: white;
    background-color: rgb(17,107,180);
    transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding:0.9rem;
    margin-top: 0.2rem;
}

.main .generatePassword button:hover{
    background-color: rgb(0, 128, 0);
}